{% extends "bases/base-website.html" %}

{% block extra_title %}Homepage{% endblock %}

{% block body %}
<!-- Hero section -->
<div class="relative">
    <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
        <div class="absolute inset-0">
          <img class="h-full w-full object-cover" src="https://th.bing.com/th/id/R.00c5a689df7665ce66043a96a830dbcd?rik=bK47uc03GDr4Gw&riu=http%3a%2f%2fwww.buro247.me%2fimages%2fCA1-BK_Dining13.gif&ehk=JD6Pt2aBzXPkCFDny31UpN7IOMdioZ2xlb5vNDz1rfU%3d&risl=&pid=ImgRaw&r=0" alt="People working on laptops">
          <div class="absolute inset-0 bg-gradient-to-r from-blue-500 to-indigo-600 mix-blend-multiply"></div>
        </div>
        <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
          <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
            <span class="block text-white">Grow your</span>
            <span class="block text-indigo-200">restaurant revenue</span>
          </h1>
          <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">
            Take control of your guest database to grow your restaurant. Powerful messaging, complete guest management and effective booking management that works for you.
          </p>
          <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
            <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
              <a href="{% url 'pricing' %}" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-700 bg-white hover:bg-indigo-50 sm:px-8">
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="absolute inset-0">
      <div class="bg-white h-1/3 sm:h-2/3"></div>
    </div>
    <div class="relative max-w-7xl mx-auto">
      <div class="text-center">
        <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
          From the blog
        </h2>
        <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
          A selection of resources from industry leading sources that will help you improve your restaurant operations.
        </p>
      </div>
      <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://modernrestaurantmanagement.com/assets/media/2021/10/Shutterstock_1309210951-1200x655.jpg" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="https://modernrestaurantmanagement.com/how-can-i-streamline-inventory-management/" class="hover:underline">
                  Article
                </a>
              </p>
              <a href="https://modernrestaurantmanagement.com/how-can-i-streamline-inventory-management/" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900">
                  Streamline Inventory Management
                </p>
                <p class="mt-3 text-base text-gray-500">
                  Chefs spend countless hours counting inventory, purchasing new ingredients, and tracking down more cost-effective substitutions for products that are either cancelled or out of stock. 
                </p>
              </a>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a href="#">
                  <span class="sr-only">Roel Aufderehar</span>
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </a>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900">
                  <a href="https://modernrestaurantmanagement.com/how-can-i-streamline-inventory-management/" class="hover:underline">
                    Roel Aufderehar
                  </a>
                </p>
                <div class="flex space-x-1 text-sm text-gray-500">
                  <time datetime="2020-03-16">
                    Mar 16, 2020
                  </time>
                  <span aria-hidden="true">
                    &middot;
                  </span>
                  <span>
                    6 min read
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="https://modernrestaurantmanagement.com/taking-charge-of-an-electrifying-opportunity/" class="hover:underline">
                  Video
                </a>
              </p>
              <a href="https://modernrestaurantmanagement.com/taking-charge-of-an-electrifying-opportunity/" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900">
                  Taking Charge of an Electrifying Opportunity
                </p>
                <p class="mt-3 text-base text-gray-500">
                  EVs are coming. For restaurants, there’s an opportunity to provide a premium new service to attract and retain customers. 
                </p>
              </a>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a href="https://modernrestaurantmanagement.com/taking-charge-of-an-electrifying-opportunity/">
                  <span class="sr-only">Brenna Goyette</span>
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </a>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900">
                  <a href="#" class="hover:underline">
                    Brenna Goyette
                  </a>
                </p>
                <div class="flex space-x-1 text-sm text-gray-500">
                  <time datetime="2020-03-10">
                    Mar 10, 2020
                  </time>
                  <span aria-hidden="true">
                    &middot;
                  </span>
                  <span>
                    4 min read
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://modernrestaurantmanagement.com/assets/media/2021/04/Pho-MPH_Food-Image-1600x655.jpg" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="https://modernrestaurantmanagement.com/covid-19-case-study-pivoting-to-profit/" class="hover:underline">
                  Case Study
                </a>
              </p>
              <a href="https://modernrestaurantmanagement.com/covid-19-case-study-pivoting-to-profit/" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900">
                  Pivoting to Profit
                </p>
                <p class="mt-3 text-base text-gray-500">
                  Prior to restaurant lockdowns in March 2020, the establishment received the majority of its business through dine-in customers.
                </p>
              </a>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a href="https://modernrestaurantmanagement.com/covid-19-case-study-pivoting-to-profit/">
                  <span class="sr-only">Daniela Metz</span>
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </a>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900">
                  <a href="https://modernrestaurantmanagement.com/covid-19-case-study-pivoting-to-profit/" class="hover:underline">
                    Daniela Metz
                  </a>
                </p>
                <div class="flex space-x-1 text-sm text-gray-500">
                  <time datetime="2020-02-12">
                    Feb 12, 2020
                  </time>
                  <span aria-hidden="true">
                    &middot;
                  </span>
                  <span>
                    11 min read
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://modernrestaurantmanagement.com/assets/media/2021/09/Shutterstock_238367224-1200x655.jpg" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="https://modernrestaurantmanagement.com/how-restaurants-should-respond-to-bad-reviews/" class="hover:underline">
                  Article
                </a>
              </p>
              <a href="https://modernrestaurantmanagement.com/how-restaurants-should-respond-to-bad-reviews/" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900">
                  Responding to bad reviews
                </p>
                <p class="mt-3 text-base text-gray-500">
                  Online reviews have a lot of influence on today's resturants. Most customers check out reviews before heading over for their first meal.
                </p>
              </a>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a href="https://modernrestaurantmanagement.com/how-restaurants-should-respond-to-bad-reviews/">
                  <span class="sr-only">Roel Aufderehar</span>
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </a>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900">
                  <a href="#" class="hover:underline">
                    Roel Aufderehar
                  </a>
                </p>
                <div class="flex space-x-1 text-sm text-gray-500">
                  <time datetime="2020-03-16">
                    Mar 16, 2020
                  </time>
                  <span aria-hidden="true">
                    &middot;
                  </span>
                  <span>
                    6 min read
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="https://www.youtube.com/watch?v=uPEXG8UwgKg" class="hover:underline">
                  Video
                </a>
              </p>
              <a href="https://www.youtube.com/watch?v=uPEXG8UwgKg" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900">
                  Restaurant Industry Update
                </p>
                <p class="mt-3 text-base text-gray-500">
                  An update from the restaurant association of america for September 2021
                </p>
              </a>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a href="https://www.youtube.com/watch?v=uPEXG8UwgKg">
                  <span class="sr-only">Brenna Goyette</span>
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </a>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900">
                  <a href="https://www.youtube.com/watch?v=uPEXG8UwgKg class="hover:underline">
                    Brenna Goyette
                  </a>
                </p>
                <div class="flex space-x-1 text-sm text-gray-500">
                  <time datetime="2020-03-10">
                    October 30, 2021
                  </time>
                  <span aria-hidden="true">
                    &middot;
                  </span>
                  <span>
                    4 min read
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://d2w1ef2ao9g8r9.cloudfront.net/images/_1600x847_crop_center-center_82_line/header-chicana-vegana.jpeg.webp?mtime=20210917170737&focal=none&tmtime=20210917170741 1600w, https://d2w1ef2ao9g8r9.cloudfront.net/images/_992x525_crop_center-center_82_line/header-chicana-vegana.jpeg.webp?mtime=20210917170737&focal=none&tmtime=20210917170741 992w, https://d2w1ef2ao9g8r9.cloudfront.net/images/_768x406_crop_center-center_82_line/header-chicana-vegana.jpeg.webp?mtime=20210917170737&focal=none&tmtime=20210917170742 768w, https://d2w1ef2ao9g8r9.cloudfront.net/images/_576x305_crop_center-center_82_line/header-chicana-vegana.jpeg.webp?mtime=20210917170737&focal=none&tmtime=20210917170742 576w" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="https://pos.toasttab.com/blog/on-the-line/chicana-vegana" class="hover:underline">
                  Case Study
                </a>
              </p>
              <a href="https://pos.toasttab.com/blog/on-the-line/chicana-vegana" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900">
                  The Evolution of Chicana Vegana
                </p>
                <p class="mt-3 text-base text-gray-500">
                  Chicana Vegana serves vegan versions of the Mexican-American classics that founder Jasmine Hernandez grew up on. Even through the ongoing challenges of the pandemic, Hernandez and her family are growing the business.
                </p>
              </a>
            </div>
            <div class="mt-6 flex items-center">
              <div class="flex-shrink-0">
                <a href="https://pos.toasttab.com/blog/on-the-line/chicana-vegana">
                  <span class="sr-only">Daniela Metz</span>
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </a>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900">
                  <a href="https://pos.toasttab.com/blog/on-the-line/chicana-vegana" class="hover:underline">
                    Daniela Metz
                  </a>
                </p>
                <div class="flex space-x-1 text-sm text-gray-500">
                  <time datetime="2020-02-12">
                    Feb 12, 2020
                  </time>
                  <span aria-hidden="true">
                    &middot;
                  </span>
                  <span>
                    11 min read
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}