{% extends "bases/base-website.html" %}

{% block extra_title %}Pricing{% endblock %}

{% block body %}
<!-- Hero section -->
<div class="relative">
  <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
      <div class="absolute inset-0">
        <img class="h-full w-full object-cover"
          src="https://th.bing.com/th/id/R.00c5a689df7665ce66043a96a830dbcd?rik=bK47uc03GDr4Gw&riu=http%3a%2f%2fwww.buro247.me%2fimages%2fCA1-BK_Dining13.gif&ehk=JD6Pt2aBzXPkCFDny31UpN7IOMdioZ2xlb5vNDz1rfU%3d&risl=&pid=ImgRaw&r=0"
          alt="People working on laptops">
        <div class="absolute inset-0 bg-gradient-to-r from-blue-500 to-indigo-600 mix-blend-multiply"></div>
      </div>
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
          <span class="block text-white">Let's Grow Your</span>
          <span class="block text-indigo-200">restaurant revenue</span>
        </h1>
        <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">
          Simple plans, great pricing and a 30 day no questions money back guarantee.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-100">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="pb-16 xl:flex xl:items-center xl:justify-between">
      <div>
        <h1 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
          <span class="text-gray-900">Everything for </span>
          <span class="text-indigo-600">€{% if primary_string == '100' %}{{ primary_string }}{% else %}<strike>100</strike>{{ primary_string}}{% endif %}</span>
        </h1>
        <p class="mt-5 text-xl text-gray-500">Includes every feature we offer {{ secondary_string }}.</p>
      </div>
      <a href="{% url 'signup' plan monthly %}" class="mt-8 w-full bg-indigo-600 border border-transparent px-5 py-3 inline-flex items-center justify-center text-base font-medium rounded-md text-white hover:bg-indigo-700 sm:mt-10 sm:w-auto xl:mt-0">Get started today</a>
    </div>
    <div class="border-t border-gray-200 pt-16 xl:grid xl:grid-cols-3 xl:gap-x-8">
      <div>
        <h2 class="text-base font-semibold text-blue-600 uppercase tracking-wide">Everything you need</h2>
        <p class="mt-2 text-3xl font-extrabold text-gray-900">All-in-one platform</p>
        <p class="mt-4 text-lg text-gray-500">Features to cover everything you need to manage your bookings. From guest profiles and booking management to automated messaging and comprehensive marketing campaigns.</p>
      </div>
      <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:mt-0 xl:col-span-2">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="py-4 flex md:py-0 md:pb-4">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Booking Management.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Waitlist.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Automated Messaging.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Email & SMS Marketing.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Complete Guest Profiles.</span>
          </li>
        </ul>
        <ul role="list" class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
          <li class="py-4 flex md:border-t-0 md:py-0 md:pb-4">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Team Management.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Confirmations.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Reminders.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Reviews.</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">No-Show & Cancellations.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<main>
  <!-- This example requires Tailwind CSS v2.0+ -->

  </section>




  <!-- Testimonial -->
  <div class="relative">
    <!-- Decorative background -->
    <div aria-hidden="true" class="absolute inset-x-0 h-1/2 bg-gray-100"></div>

    <div class="relative max-w-2xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="relative py-24 px-8 bg-blue-500 rounded-xl shadow-2xl overflow-hidden lg:px-16 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="absolute inset-0 opacity-50 filter saturate-0 mix-blend-multiply">
          <img src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1216&q=80" alt="" class="w-full h-full object-cover">
        </div>
        <div class="relative lg:col-span-1">
          <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workcation-logo-white.svg" alt="">
          <blockquote class="mt-6 text-white">
            <p class="text-xl font-medium sm:text-2xl">RestDos has completely transformed how we interact with customers. We've seen record bookings, higher customer satisfaction, and reduced churn.</p>
            <footer class="mt-6">
              <p class="flex flex-col font-medium">
                <span>Erick Brassfield</span>
                <span>Restaurant Owner</span>
              </p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>



  <!-- FAQ -->
  <section aria-labelledby="faq-heading" class="max-w-2xl mx-auto py-24 px-4 divide-y divide-gray-200 sm:px-6 lg:max-w-7xl lg:py-32 lg:px-8">
    <h2 id="faq-heading" class="text-3xl font-extrabold text-gray-900">
      Frequently asked questions
    </h2>
    <div class="mt-8">
      <dl class="divide-y divide-gray-200">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-5">
            Do you mean no questions asked money back guarantee?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500">
              Yes we do. If RestDos isn't working for your restaurant, or you just don't like it, we will give you your full subscription back within the first 30 days no questions asked.
            </p>
          </dd>
        </div>

        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-5">
            Am I tied into a lengthy contract?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500">
              Not at all! Our contracts are rolling 30 day contracts. 
            </p>
          </dd>
        </div>

        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-5">
            Can I import existing bookings & guests?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500">
              You certainly can. We're on hand to assist you to setup your account how you need. 
            </p>
          </dd>
        </div>

        <!-- More questions... -->
        <!-- More items... -->
      </dl>
    </div>
  </section>
</main>

{% endblock %}