{% extends "bases/base-app.html" %}
{% load tailwind_filters %}

{% block extra_title %}Profile{% endblock %}

{% block body %}
<div class="relative py-16 bg-white overflow-hidden">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
      <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
        <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
        </svg>
        <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
        </svg>
        <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
        </svg>
      </div>
    </div>
    <div class="relative px-4 sm:px-6 lg:px-8">
      <div class="text-lg max-w-prose mx-auto">
        <h1>
          <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">Help</span>
          <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Your Guide to RestDos</span>
        </h1>
        <p class="mt-8 text-xl text-gray-500 leading-8">A brief guide to all the functionality you have in your RestDos account.</p>
      </div>
      
      <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
        <p>If you prefer a written guide scroll on down or choose a section below to read the text version.</p>
        <ul role="list">
          <li><a href="#dashboard">Dashboard</a></li>
          <li><a href="#guests">Guests</a></li>
          <li><a href="#bookings">Bookings</a></li>
          <li><a href="#messaging">Messaging</a></li>
        </ul>

        <h2 id="dashboard">Dashboard</h2>
        <p>Your bookings dashbaord is where you can see some key statistics about your restaurants bookings with RestDos.</p>
        <ul>
          <li>Total Guests</li>
          <li>Total Bookings</li>
          <li>Total Sales</li>
          <li>% No-Shows</li>
          <li>% Completed Bookings</li>
          <li>Average Booking Value</li>
        </ul>

        <p>You will see these stats update as you start entering your guests and their bookings.</p>

        <h2 id="guests">Guests</h2>
        <p>This is where you can see all the guests you have in your system. From this page you can add new guests and edit guest details. The rating that you see here is for you to rate the guest. This is very useful to help identify your VIP guests so you know which tables to allocate to which booking. You add bookings in the software in the guest profile.</p>

        <p>You can search for your guests on any page of the application using the search bar at the top of the website. So when you want to add a booking for an existing guest search for them here by name, mobile or email and you can add a booking straight to their profile.</p> 

        <h2  id="bookings">Bookings</h2>
        <p>This is the page where you manage all your bookings. You can filter by booking status and date. The page will always default to all bookings on the current day to help save you time in managing your bookings. You can add and edit bookings from this screen as well as delete an existing booking by editing it.</p>

        <p>Don't forget that to add a booking you go to the guest profile and then click add booking</p> 

        <h2 id="messaging">Messaging</h2>
        <p>Here you can craft sms campaigns to send to all your guests. In the first section you compose your message and we will let you know how many sms you will be sending per guest. In the preview & send screen then we will confirm the details of the campaign, including the number of receipeients and the cost of sending it so you can make an informed decision before sending.</p>

        <p>Please note that only guests who have sms marketing consent active on their profile will appear here for marketing campaigns.</p>

      </div>
    </div>
  </div>
  
{% endblock %}