{% extends "bases/base-app.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block extra_title %}Add Guest{% endblock %}

{% block body %}

<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Personal Information
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                    Contact and other useful information about the guest.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                    <div class="grid grid-cols-2 gap-6">
                        {% crispy personal_information_form personal_information_form.helper %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
