{% extends "bases/base-app.html" %}
{% load tailwind_filters %}

{% block extra_title %}Add Guest{% endblock %}

{% block body %}

<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Personal Information
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                    Contact and other useful information about the guest.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="{% url 'add_guest' %}" method="POST">
                {% csrf_token %}
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-2 gap-6">
                            {{ personal_information_form|crispy }}
                        </div>
                    </div>
                </div>
                <!-- Submit or cancel -->
                <div class="px-4 py-3 bg-indigo-50 text-right sm:px-6">
                    <a type="button" href="{% url 'guests' %}"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-blue-500 hover:text-black">
                        Cancel
                    </a>
                    <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}