{% extends "bases/base-app.html" %}

{% block extra_title %}Guests{% endblock %}

{% block body %}



<div class="mt-10 sm:mt-0">
    <div class="flex flex-row-reverse space-x-4 space-x-reverse">
        <a type="button" href="#"
            class="inline-flex items-center px-4 py-2 mb-4 text-sm font-medium text-red-700 hover:text-red-500">
            Delete Guest
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 -mr-1 h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
        </a>
        <a href="#"
            class="inline-flex items-center px-4 py-2 mb-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            Add Booking
        </a>
    </div>

    <div class="lg:grid lg:grid-cols-3 lg:gap-6">
        <div class="lg:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Personal Information
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                    Contact and other useful information about the guest.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            {% url 'guest_detail' guest.id as submit_action %}
            <!--  include "guest_personal_information.html" with submit_action=submit_action  -->
        </div>
    </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>

<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Notes
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                    Useful information to give your guest the best service possible.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="{% url 'guest_detail' guest.id %}" method="POST">
                {% csrf_token %}
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                        <div>
                            <label for="notes_service" class="block text-sm font-medium text-gray-700">
                                Service Notes
                            </label>
                            <p class="mt-2 text-sm text-gray-500">
                                Such as preferred seating, wine choice etc.
                            </p>
                            <div class="mt-1">
                                <textarea id="notes_service" name="notes_service" rows="5"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 p-1 block w-full sm:text-sm border border-gray-300 rounded-md resize-none"></textarea>
                            </div>
                        </div>
                        <div>
                            <label for="notes_kitchen" class="block text-sm font-medium text-gray-700">
                                Kitchen Notes
                            </label>
                            <p class="mt-2 text-sm text-gray-500">
                                Such as standard requests like meat temperature etc.
                            </p>
                            <div class="mt-1">
                                <textarea id="notes_kitchen" name="notes_kitchen" rows="5"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 p-1 block w-full sm:text-sm border border-gray-300 rounded-md resize-none">
                                    
                                </textarea>
                            </div>
                        </div>
                        <div>
                            <label for="notes_allergies" class="block text-sm font-medium text-gray-700">
                                Allergies & Intollerances
                            </label>
                            <p class="mt-2 text-sm text-gray-500">
                                Important information critical to the guests health.
                            </p>
                            <div class="mt-1">
                                <textarea id="notes_allergies" name="notes_allergies" rows="5"
                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 p-1 block w-full sm:text-sm border border-gray-300 rounded-md resize-none">
                                    
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-indigo-50 text-right sm:px-6">
                        <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>

<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Stats
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                    Decide which communications you'd like to receive and how.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="#" method="POST">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                        <dl class="my-5 grid grid-cols-1 gap-5 lg:grid-cols-3">
                            <div class="px-4 py-2 bg-indigo-400 shadow rounded-lg overflow-hidden sm:p-6">
                                <dt class="text-sm font-medium text-yellow-50 truncate uppercase">
                                    Guest Age
                                </dt>
                                <dd class="mt-1 text-3xl font-semibold text-yellow-50">
                                    0
                                </dd>
                            </div>

                            <div class="px-4 py-5 bg-indigo-400 shadow rounded-lg overflow-hidden sm:p-6">
                                <dt class="text-sm font-medium text-yellow-50 truncate uppercase">
                                    Total Bookings
                                </dt>
                                <dd class="mt-1 text-3xl font-semibold text-yellow-50">
                                    0
                                </dd>
                            </div>

                            <div class="px-4 py-5 bg-indigo-400 shadow rounded-lg overflow-hidden sm:p-6">
                                <dt class="text-sm font-medium text-yellow-50 truncate uppercase">
                                    Total Sales
                                </dt>
                                <dd class="mt-1 text-3xl font-semibold text-yellow-50">
                                    €0
                                </dd>
                            </div>
                        </dl>
                        <dl class="my-5 grid grid-cols-1 gap-5 lg:grid-cols-3">
                            <div class="px-4 py-5 bg-indigo-400 shadow rounded-lg overflow-hidden sm:p-6">
                                <dt class="text-sm font-medium text-yellow-50 truncate uppercase">
                                    % NO-SHOW BOOKINGS
                                </dt>
                                <dd class="mt-1 text-3xl font-semibold text-yellow-50">
                                    0%
                                </dd>
                            </div>

                            <div class="px-4 py-5 bg-indigo-400 shadow rounded-lg overflow-hidden sm:p-6">
                                <dt class="text-sm font-medium text-yellow-50 truncate uppercase">
                                    % BOOKINGS COMPLETED
                                </dt>
                                <dd class="mt-1 text-3xl font-semibold text-yellow-50">
                                    0%
                                </dd>
                            </div>

                            <div class="px-4 py-5 bg-indigo-400 shadow rounded-lg overflow-hidden sm:p-6">
                                <dt class="text-sm font-medium text-yellow-50 truncate uppercase">
                                    AVERAGE BOOKING VALUE
                                </dt>
                                <dd class="mt-1 text-3xl font-semibold text-yellow-50">
                                    €0
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>
{% endblock %}