{% extends "bases/base-app.html" %}

{% block extra_title %}Bookings{% endblock %}

{% block primary-cta %}
<div class="mx-4 flex-1">
    <label for="filterDate" class="block text-sm font-medium text-gray-700">
        Date
    </label>
    <div class="mt-1 min-w-max">
        <input type="date" name="filterDate" id="filterDate" value="{{ date }}" 
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-400 rounded-md"
            onChange=filterDate(this.value)>
    </div>
</div>
{% endblock%}
{% block secondary-cta %}
<div class="mx-4 flex-1">
    <label for="filterStatus" class="block text-sm font-medium text-gray-700">
        Status
    </label>
    <div class="mt-1 min-w-max">
        <select id="filterStatus" name="filterStatus" onChange="window.location.href=this.value"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-400 rounded-md">
            <option value="{% url 'bookings' status='all' date=date %}" {% if status is "all" %}selected{% endif %}>
                All Bookings
            </option>
            <option value="{% url 'bookings' status='COM' date=date %}" {% if status == 'COM' %}selected{% endif %}>
                Completed
            </option>
            <option value="{% url 'bookings' status='CON' date=date %}" {% if status == 'CON' %}selected{% endif %}>
                Confirmed
            </option>
            <option value="{% url 'bookings' status='CAN' date=date %}" {% if status == 'CAN' %}selected{% endif %}>
                Cancelled
            </option>
            <option value="{% url 'bookings' status='DEN' date=date %}" {% if status == 'DEN' %}selected{% endif %}>
                Denied
            </option>
            <option value="{% url 'bookings' status='NOS' date=date %}" {% if status == 'NOS' %}selected{% endif %}>
                No-Show
            </option>
            <option value="{% url 'bookings' status='REQ' date=date %}" {% if status == 'REQ' %}selected{% endif %}>
                Requested
            </option>
            <option value="{% url 'bookings' status='SEA' date=date %}" {% if status == 'SEA' %}selected{% endif %}>
                Seated
            </option>
            <option value="{% url 'bookings' status='TAB' date=date %}" {% if status == 'TAB' %}selected{% endif %}>
                Table Ready
            </option>
            <option value="{% url 'bookings' status='WAI' date=date %}" {% if status == 'WAI' %}selected{% endif %}>
                Waitlist
            </option>
        </select>
    </div>
</div>
{% endblock %}

{% block body %}

{% include 'includes/components/bookings.html' %}

{% endblock %}

{% block postloadjs %}
<script>
    function filterDate(date) {
        status = document.getElementById("filterStatus").value;
        status = status.substring(0, status.length -11);
        url = status + date + '/'
        window.location.href=url;
    }
</script>

{% endblock %}