{% extends "bases/base-app.html" %}
{% load tailwind_filters %}

{% block extra_title %}Edit Booking{% endblock %}

{% block secondary-cta %}
<a href="{% url 'delete_booking' booking_id %}"
    class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
            clip-rule="evenodd" />
    </svg>
    Delete Booking
</a>
{% endblock %}

{% block body %}

<div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Personal Information
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                    Contact and other useful information about the guest.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="{% url 'edit_booking' booking_id %}" method="POST">
                {% csrf_token %}
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-2 gap-6">
                            {{ booking_form|crispy }}
                        </div>
                    </div>
                </div>
                <!-- Submit or cancel -->
                <div class="px-4 py-3 bg-indigo-50 text-right sm:px-6">
                    <a type="button" href="#"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-blue-500 hover:text-black">
                        Cancel
                    </a>
                    <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}