{% extends "bases/base-website.html" %}

{% block extra_title %}Pricing{% endblock %}

{% block body %}

<!-- Page Header -->
<div class="relative max-w-2xl mx-auto py-24 px-4 sm:px-6 lg:max-w-7xl lg:py-32 lg:px-8">
    <div class="relative">
      <h1 class="text-3xl font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">Plans to solve your restaurants problems</h1>
      <p class="mt-6 max-w-2xl text-xl text-gray-500">Choose an affordable plan that's packed with the best features for engaging your team, creating guest loyalty, and driving sales.</p>
    </div>
  </div>
</div>

<main>
  <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-900">
<div class="pt-12 px-4 sm:px-6 lg:px-8 lg:pt-20">
  <div class="text-center">
    <h2 class="text-lg leading-6 font-semibold text-gray-300 uppercase tracking-wider">
      Pricing
    </h2>
    <p class="mt-2 text-3xl font-extrabold text-white sm:text-4xl lg:text-5xl">
      The right price for you, whoever you are
    </p>
    <p class="mt-3 max-w-4xl mx-auto text-xl text-gray-300 sm:mt-5 sm:text-2xl">
      We know RestDos will help your business grow so if you aren't happy for any reason in the first 30 days we'll refund you your subscription fee no questions asked. 
    </p>
  </div>
</div>

<div class="mt-16 bg-white pb-12 lg:mt-20 lg:pb-20">
  <div class="relative z-0">
    <div class="absolute inset-0 h-5/6 bg-gray-900 lg:h-2/3"></div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative lg:grid lg:grid-cols-7">
        <div class="mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
          <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-l-lg">
            <div class="flex-1 flex flex-col">
              <div class="bg-white px-6 py-10">
                <div>
                  <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-advantage">
                    First Advantage
                  </h3>
                  <div class="mt-4 flex items-center justify-center">
                    <span class="px-3 flex items-start text-6xl tracking-tight text-gray-900">
                      <span class="mt-2 mr-2 text-4xl font-medium">
                        €
                      </span>
                      <span class="font-extrabold">
                        33
                      </span>
                    </span>
                    <span class="text-xl font-medium text-gray-500">
                      /month
                    </span>
                  </div>
                </div>
              </div>
              <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                <ul role="list" class="space-y-4">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                        Unlimited Bookings
                    </p>
                  </li>
                </ul>
                <div class="mt-8">
                  <div class="rounded-lg shadow-md">
                    <a href="{% url 'signup' 'First Advantage' 33 %}" class="block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base font-medium text-indigo-600 hover:bg-gray-50" aria-describedby="tier-advantage">
                      Start today
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
          <div class="relative z-10 rounded-lg shadow-xl">
            <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-indigo-600" aria-hidden="true"></div>
            <div class="absolute inset-x-0 top-0 transform translate-y-px">
              <div class="flex justify-center transform -translate-y-1/2">
                <span class="inline-flex rounded-full bg-indigo-600 px-4 py-1 text-sm font-semibold tracking-wider uppercase text-white">
                  Most popular - 45 remaining
                </span>
              </div>
            </div>
            <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
              <div>
                <h3 class="text-center text-3xl font-semibold text-gray-900 sm:-mx-6" id="tier-first-advantage">
                  First Advantage
                </h3>
                <div class="mt-4 flex items-center justify-center">
                  <span class="px-3 flex items-start text-6xl tracking-tight text-gray-900 sm:text-6xl">
                    <span class="mt-2 mr-2 text-4xl font-medium">
                      €
                    </span>
                    <span class="font-extrabold">
                      49
                    </span>
                  </span>
                  <span class="text-2xl font-medium text-gray-500">
                    /month
                  </span>
                </div>
              </div>
            </div>
            <div class="border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10">
              <ul role="list" class="space-y-4">
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base font-medium text-gray-500">
                    Be part of the first 100 restaurants
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base font-medium text-gray-500">
                    50% off our advantage plan for life
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base font-medium text-gray-500">
                    Unlimited Bookings
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base font-medium text-gray-500">
                    Complete Guest Relationship Management
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base font-medium text-gray-500">
                    Powerful Email & SMS Marketing
                  </p>
                </li>
              </ul>
              <div class="mt-10">
                <div class="rounded-lg shadow-md">
                  <a href="{% url 'signup' 'First Advantage' 49 %}" class="block w-full text-center rounded-lg border border-transparent bg-indigo-600 px-6 py-4 text-xl leading-6 font-medium text-white hover:bg-indigo-700" aria-describedby="tier-first-advantage">
                    Start today
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
          <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-r-lg">
            <div class="flex-1 flex flex-col">
              <div class="bg-white px-6 py-10">
                <div>
                  <h3 class="text-center text-2xl font-medium text-gray-900" id="tier-elite">
                    Elite
                  </h3>
                  <div class="mt-4 flex items-center justify-center">
                    <span class="px-3 flex items-start text-6xl tracking-tight text-gray-900">
                      <span class="mt-2 mr-2 text-4xl font-medium">
                        €
                      </span>
                      <span class="font-extrabold">
                        149
                      </span>
                    </span>
                    <span class="text-xl font-medium text-gray-500">
                      /month
                    </span>
                  </div>
                </div>
              </div>
              <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                <ul role="list" class="space-y-4">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                        Everything in Advantage
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                        Premium Onboarding & Support
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-500">
                        Branded Booking Page
                    </p>
                  </li>
                </ul>
                <div class="mt-8">
                  <div class="rounded-lg shadow-md">
                    <a href="{% url 'signup' 'Elite' 149 %}" class="block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base font-medium text-indigo-600 hover:bg-gray-50" aria-describedby="tier-elite">
                      Start today
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  </section>

  <div class="bg-gradient-to-b from-blue-50 via-white to-white">
    <!-- Pricing section with single price and feature list -->
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="pt-16 xl:grid xl:grid-cols-3 xl:gap-x-8">
        <div>
          <h2 class="text-base font-semibold text-blue-600 uppercase tracking-wide">Everything you need</h2>
          <p class="mt-2 text-3xl font-extrabold text-gray-900">All-in-one platform</p>
          <p class="mt-4 text-lg text-gray-500">Features to cover everything you need to manage your bookings. From guest profiles and booking management to automated messaging and comprehensive marketing campaigns.</p>
        </div>
        <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:mt-0 xl:col-span-2">
          <ul role="list" class="divide-y divide-gray-200">
            <li class="py-4 flex md:py-0 md:pb-4">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Booking Management.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Waitlist.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Automated Messaging.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Email & SMS Marketing.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Complete Guest Profiles.</span>
            </li>
          </ul>
          <ul role="list" class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
            <li class="py-4 flex md:border-t-0 md:py-0 md:pb-4">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Team Management.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Confirmations.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Reminders.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">Reviews.</span>
            </li>

            <li class="py-4 flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-base text-gray-500">No-Show & Cancellations.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- Testimonial -->
  <div class="relative">
    <!-- Decorative background -->
    <div aria-hidden="true" class="absolute inset-x-0 h-1/2 bg-gradient-to-b from-white to-gray-50"></div>

    <div class="relative max-w-2xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="relative py-24 px-8 bg-blue-500 rounded-xl shadow-2xl overflow-hidden lg:px-16 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="absolute inset-0 opacity-50 filter saturate-0 mix-blend-multiply">
          <img src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1216&q=80" alt="" class="w-full h-full object-cover">
        </div>
        <div class="relative lg:col-span-1">
          <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workcation-logo-white.svg" alt="">
          <blockquote class="mt-6 text-white">
            <p class="text-xl font-medium sm:text-2xl">RestDos has completely transformed how we interact with customers. We've seen record bookings, higher customer satisfaction, and reduced churn.</p>
            <footer class="mt-6">
              <p class="flex flex-col font-medium">
                <span>Erick Brassfield</span>
                <span>Restaurant Owner</span>
              </p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>



  <!-- FAQ -->
  <section aria-labelledby="faq-heading" class="max-w-2xl mx-auto py-24 px-4 divide-y divide-gray-200 sm:px-6 lg:max-w-7xl lg:py-32 lg:px-8">
    <h2 id="faq-heading" class="text-3xl font-extrabold text-gray-900">
      Frequently asked questions
    </h2>
    <div class="mt-8">
      <dl class="divide-y divide-gray-200">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-5">
            Do you mean no questions asked money back guarantee?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500">
              Yes we do. If RestDos isn't working for your restaurant, or you just don't like it, we will give you your full subscription back within the first 30 days no questions asked.
            </p>
          </dd>
        </div>

        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-5">
            Am I tied into a lengthy contract?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500">
              Not at all! Our contracts are rolling 30 day contracts. 
            </p>
          </dd>
        </div>

        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-5">
            Can I import existing bookings & guests?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500">
              You certainly can. We're on hand to assist you to setup your account how you need. 
            </p>
          </dd>
        </div>

        <!-- More questions... -->
        <!-- More items... -->
      </dl>
    </div>
  </section>
</main>

{% endblock %}